{% extends "base.html" %}
{% load static %}
{% block title %} Об авторе {% endblock %}

{% block static %}
    <link rel="stylesheet" href="{% static 'pages/index.css' %}">
{% endblock static %}

{% block nav %}
    {% include "nav.html" %}
{% endblock %}

{% block content %}
    <main class="main container">
        <div class="custom-center-block">
            <p>Меня зовут Илья, я родился и вырос в Петербурге.
                Летом 2019 года я наткнулся на курсы Яндекс.Практикума,
                попробовал и с удивлением обнаружил, что тема программирования
                доступна моему пониманию. Возможно это самообман :)</p>
            <p>С программированием я никогда раньше не сталкивался, ни в школе,
                ни в университете.
                Всегда считал, что для такой работы надо хорошо знать высшую
                математику и даже не смотрел в эту сторону.
                Сейчас я получаю огромный кайф от программирования, особенно в
                те моменты,
                когда удаётся решить какую-либо задачу своим умом. Всегда любил
                решать логические задачи,
                а вот мастерить что-то руками никогда не умел. Поэтому я рад,
                что нашел область,
                где я могу что-то создать не руками, а головой =)</p>
            </p>
            <p>Я твёрдо решил связать свою жизнь с IT и двигаюсь в этом
                направлении по мере своих возможностей.</p>
            <p><p>Чтобы связаться со мной пишите на
            <a href='mailto:fr33vvay@yandex.com'>fr33vvay@yandex.com</a></p>
            <p><a href='https://github.com/Fr33vvay'>Мой профиль на Github</a></p>
            <p><a href='https://vk.com/korentsvit'>Мой профиль ВК</a></p>

        </div>
    </main>

{% endblock %}