{% extends "base.html" %}
{% load static %}

{% block title %}Список покупок{% endblock title %}

{% block static %}
    <link rel="stylesheet" href="{% static 'pages/shopList.css'%}">
{% endblock static %}

{% block nav %}
    {% include "nav.html" with purchases=True %}
{% endblock %}

{% block content %}
    <div class="main__header">
        <h1 class="main__title">Список покупок</h1>
    </div>
    <div class="card-list card-list_column">
        {% load thumbnail %}
        <ul class="shopping-list">
            {% for recipe in recipes %}
                <li class="shopping-list__item" data-id="{{ recipe.id }}">
                    <div class="recipe recipe_reverse">
                        {% thumbnail recipe.image "100x100" crop="center" as im %}
                        <img src="{{ im.url }}" alt="Картинка" class="recipe__image recipe__image_big">
                        {% endthumbnail %}
                        <h3 class="recipe__title"><a href="{% url 'recipe_view' recipe.id %}" class="link" target="_blank">{{ recipe.name }}</a></h3>
                        <p class="recipe__text"><span class="icon-time"></span> {{ recipe.cooking_time }} мин.</p>
                    </div>
                    <a  class="shopping-list__button link" href="{% url 'delete_purchase' recipe.id %}">Удалить</a>
                </li>
            {% endfor %}
        </ul>

        <a href="{% url 'download' %}"><button class="button button_style_blue">Скачать список</button></a>
    </div>
{% endblock content %}

{% block script %}
    <script src="{% static 'js/config/config.js' %}"></script>
    <script src="{% static 'js/components/Header.js' %}"></script>
    <script src="{% static 'js/components/ShopList.js' %}"></script>
    <script src="{% static 'js/api/Api.js' %}"></script>
    <script src="{% static 'shopList.js' %}"></script>
{% endblock script %}
